@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-container {
  min-height: 600px;
  padding: 90px 200px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.main-heading {
  margin: 30px 0;
}

.form-container {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 20px 0;
}

.form-container input {
  font-size: 18px;
  padding: 6px;
}

.input-box {
  border-radius: 5px;
}

.submit-btn {
  padding: 4px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.single-to-do {
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.delete-buttons {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
